server:
  port: 8083
spring:
  application:
    name: worker

  datasource:
    url: jdbc:postgresql://localhost:5433/db2
    username: user
    password: 123

  jpa:
    hibernate:
      ddl-auto: none

  kafka:
    listener:
      ack-mode: manual
    bootstrap-servers: localhost:9092
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: worker-service-group
      # auto-offset-reset: earliest
      enable-auto-commit: false # Manual acknowledgment
      properties:
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false
        spring.json.value.default.type: com.service.worker.dto.KafkaMessage

  mail:
    host: smtp.gmail.com
    port: 587
    username: 
    password: 
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

otp:
  expiry-minutes: 600

frontend:
  base-url: http://localhost:5173
